<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/post_list.css' %}">

    <!--include bootstrap and some other ui stuff-->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
</head>

<body>

    {% include 'navbar.html' %}

    <center>
    <h1>POSTS</h1>

    {% if post_list %}
    <ul class="post_list">
        {% for post in post_list %}
          <li>
            <a href="show_post?id={{ post.id }}">{{ post.title }}</a>
          </li>
        {% endfor %}
     </ul>
    {% else %}
        <h3> Sorry no Posts here</h3>
    {% endif %}
    </center>
</body>
</html>
