<style>
    button {
        background-color: #eeeeee;
        border-radius: 5px;
        width: 10%;
        margin: 10px;
    }

    nav a {
        text-decoration: none;
        font-size: 18px;
        color: black;
    }

    #navbar {
        background-color: #aaaaaa;
    }
</style>

<nav id="navbar">
    <div style="display: inline">
        <a href="/blog">
            <button>
                Post index
            </button>
        </a>

        <a href="/blog/createPost">
            <button>
                Create a New Post
            </button>
        </a>
    </div>
</nav>
