<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'blog/create.css' %}">
    <!--include bootstrap and some other ui stuff-->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
</head>

<body>
    {% include 'navbar.html' %}

    {% if post %}
        <h1>{{ post.title }}</h2>
        <h3 id="create_date">{{ post.created }}
        <h2>{{ post.text|linebreaksbr }}</h2>
    {% else %}
        <h3> Sorry post not found.</h3>
    {% endif %}
</body>
</html>
